{% extends 'base.html' %}
{% block content %}

<br><br>
<center>
    <form method="post">{% csrf_token %}
        <h2>Подтвердите удаление категории!!!</h2>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'retrieve_category' %}">
                <button type="button" class="btn btn-outline-warning">Отменить</button>
            </a>
            <button type="submit" class="btn btn-outline-danger">Подтвердить</button>
        </div>
    </form>
</center>


{% endblock %}