{% extends 'base.html' %}
{% block content %}

<br><br>
<style>
    .container {
        padding: 20px;
        margin: 0 auto;
        max-width: 800px;
    }
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        line-height: 1.6;
    }
</style>

<div class="container">
    <h2>Обновить категорию</h2>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <br>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-outline-success">Сохранить изменения</button>
            <a href="{% url 'retrieve_product' %}" class="btn btn-outline-danger">Отменить</a>
        </div>
    </form>
</div>

{% endblock %}