{% extends 'base.html' %}
{% block content %}
{% load form_filters %}
<br><br>
<style>
    .container {
        padding: 20px;
        margin: 0 auto;
        max-width: 800px;
    }
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        line-height: 1.6;
    }
</style>

<div class="container">
    <h2>Обновить категорию</h2>
    <form method="post">{% csrf_token %}

        <div>
            <label class="col-form-label mt-4" for="CategoryName">Обновить название категории.</label>
            <input type="text" class="form-control" placeholder="Название категории." id="CategoryName">
        </div>
        <br>
        <button type="submit" class="btn btn-outline-success">Добавить</button>
    </form>
</div>

{% endblock %}