{% extends 'base.html' %}
{% block content %}

<br><br>
<style>
    .container {
        padding: 20px;
        margin: 0 auto;
        max-width: 800px;
    }
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        line-height: 1.6;
    }
</style>

<div class="container">
    <form method="post">{% csrf_token %}
        <h2>Подтвердите удаление продукта!!!</h2>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'retrieve_product' %}">
                <button type="button" class="btn btn-outline-warning">Отменить</button>
            </a>
            <button type="submit" class="btn btn-outline-danger">Подтвердить</button>
        </div>
    </form>
</div>

{% endblock %}
